.Screen--About {
  .Hero {
    padding: 0;

    .Video {
      width: 100%;
      height: 100%;
      pointer-events: none;

      .video-react.video-react-fluid {
        padding-top: 100% !important;
        height: 100%;
      }
    }
  }
}
