.CirclesGrid {
  display: flex;
  flex-wrap: wrap;

  &__element {
    flex: 1 0 18%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  &__title {
    padding: 5px;
    font-size: rem(24px);
    line-height: rem(29px);
    font-weight: 500;
    color: $primary;
    font-family: "Aktiv GroteskEx Bd",sans-serif;
  }

  &__sub_title {
    padding: 5px;
    font-size: rem(14px);
    line-height: rem(17px);
    font-family: "Aktiv GroteskEx Bd",sans-serif;
    letter-spacing: rem(2px);
  }
}
