.Hero {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: 50% 100%;
  @include fluid-attr("padding", 15px, 60px);

  &__title {
    z-index: 10;
  }

  &__logo {
    display: flex;
    justify-content: flex-end;
    @include fluid-attr("margin-bottom", 15px, 40px);

    @include mobile {
      justify-content: center;
    }

    img {
      width: 100%;
      @include fluid-attr("max-width", 100px, 139px);
    }
  }

  .type-h4 {
    color: $primary;
  }

  .type-hero {
    font-family: "Editor", serif;
    font-weight: bold;
    color: $secondary;
  }

  .type-single-page {
    font-family: "Dark", serif;
    font-weight: bold;
    color: $secondary;
  }
}
