.Loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary;
  font-weight: bold;
  background-color: $black-color;

  &--screen {
    .Loading__progress, .Loading__progress-message {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__hero {
    margin-top: auto;

    &-title {
      @include fluid-attr("width", 288px, 585px);
    }
  }

  &__progress {
    margin-top: auto;
  }

  &__progress-message {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 3vh;
  }
}

.scroll-icon,
.scroll-icon:before {
  position: absolute;
  left: 50%;
}

.scroll-icon {
  width: 32px !important;
  height: 55px !important;
  margin-left: -20px;
  bottom: 2rem;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  opacity: 0.5;

  &:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

  &__text {
    position: absolute;
    width: rem(160px);
    left: rem(-56px);
    bottom: rem(-25px);
    color: $white-color;
    font-size: rem(14px);
    font-family: "Aktiv GroteskEx Bd",sans-serif;
    letter-spacing: rem(2px);
    text-transform: uppercase;
    @include tablet {
      display: none;
    }
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(32px);
  }
}