.MapZoomed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13551B;
  overflow: hidden;
  background-image: url("./assets/img/map-zoomed.jpg");
  background-repeat: no-repeat;
  background-position: 57.7% 49.7%;
  background-size: 174%;
}
