.MapFull {
  position: relative;
  //background-image: url("./assets/img/map-full.jpg");
  background-image: url("./assets/img/map-zoomed.jpg");

  &__nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      display: none;
    }

    &-item {
      border-bottom: 1px solid #fff;
      color: #fff;
      @include fluid-attr("width", 70px, 100px);
      @include fluid-attr("padding-top", 10px, 21px);
      @include fluid-attr("padding-right", 8px, 14px);
      @include fluid-attr("padding-bottom", 8px, 14px);

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &--active {
        background-color: $primary;
        border-bottom: none;
        width: auto;
        @include fluid-attr("padding-top", 12px, 24px);
        @include fluid-attr("padding-right", 16px, 48px);
        @include fluid-attr("padding-bottom", 4px, 8px);
        @include fluid-attr("padding-left", 12px, 24px);

        &:hover {
          background-color: lighten($primary, 5%);
        }
      }
    }
  }

  &__popup {
    position: relative;
    @include fluid-attr("max-width", 400px, 750px);
    @include fluid-attr("padding-right", 25px, 40px);
    @include fluid-attr("padding-left", 25px, 40px);

    &-tag {
      transform: translate(-6%, 0);

      img {
        transform: translate(0, -40%);
      }

      .type-p {
        @include fluid-attr("padding", 8px, 16px);
        color: $primary;
        font-weight: 500;
      }
    }

    &-id {
      font-family: "Aktiv Grotesk Ex Trial", sans-serif;
      font-weight: bold;
      line-height: 1;
      color: $primary;
      transform: translate(-5%, 0);
    }

    &-background {
      position: relative;
      z-index: 1;
      @include fluid-attr("padding", 16px, 24px);
      background-color: rgba(255, 255, 255, 0.9);
      transform: translate(0, -10%);
    }

    &-img {
      position: absolute;
      right: 0;
      transform: translate(20%, -35%);
    }

    &-main {
      .type-h2 {
        font-family: Editor, serif;
        font-weight: bold;
        line-height: 1em;
        color: $secondary;
        margin-bottom: 0.8em;
      }

      .type-p {
        color: $gray-300;
      }
    }
  }
}
