.MapZoomed {
  $river-length: 2202.6826171875;
  $river-animation-duration: 5s;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13B9C5;
  overflow: hidden;
  background-image: url("./assets/img/map/zoomed.jpg");
  background-repeat: no-repeat;
  background-position: 50%;

  &__info {
    @include fluid-attr("margin-top", 40px, 80px);
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    line-height: 1.2;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
  }

  &__river {
    stroke-dasharray: $river-length;
  }

  &--focused {
    .MapZoomed__hotSpot {
      @keyframes fade-in {
        100% {
          opacity: 1;
        }
      }

      animation: fade-in 0.6s forwards;

      &--0 {
        animation-delay: $river-animation-duration * 0.14;
      }

      &--1 {
        animation-delay: $river-animation-duration * 0.268;
      }

      &--2 {
        animation-delay: $river-animation-duration * 0.676;
      }

      &--3 {
        animation-delay: $river-animation-duration * 0.894;
      }

      &--4 {
        animation-delay: $river-animation-duration * 0.968;
      }
    }

    .MapZoomed__river {
      animation: dash $river-animation-duration linear reverse forwards;
      @keyframes dash {
        100% {
          stroke-dashoffset: $river-length;
        }
      }
    }
  }

  &__hotSpot {
    cursor: pointer;
    opacity: 0;

    &-orbit {
      rx: 30.5;
      ry: 29.5;
      animation: orbit 2s ease infinite;

      @keyframes orbit {
        50% {
          rx: 18.3;
          ry: 17.7;
        }
      }
    }
  }

  &__popup {
    $color: rgba(3, 28, 38, 0.8);
    position: absolute;
    text-align: center;
    background-color: $color;
    @include fluid-attr("padding-top", 8px, 15px);
    @include fluid-attr("padding-bottom", 8px, 15px);
    @include fluid-attr("padding-left", 12px, 20px);
    @include fluid-attr("padding-right", 12px, 20px);
    @include fluid-attr("width", 200px, 330px);
    transform: translate(calc(-50% + 28px), 70px);

    &-triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12.5px 15px 12.5px;
      border-color: transparent transparent $color transparent;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
    }

    .type-tag {
      font-family: "Aktiv Grotesk Ex Trial", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary;
    }

    .type-h3 {
      font-family: Tungsten, sans-serif;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
