$padding-vertical: 1.25em;
$padding-horizontal: 1.25em;

.Navigation {
  position: absolute;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: $navigation-height;
  padding: $padding-vertical $padding-horizontal;
  z-index: $z-index-navigation;
  background-color: rgba(#031C26, 0.7);
  margin-bottom: -#{$navigation-height};

  &__toggle {
    display: none;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    height: 2rem;
    position: absolute;
    right: 1rem;
  }

  &__item {
    $color: #fff;
    @include fluid-attr("font-size", 14px, 16px);
    font-family: "Aktiv GroteskEx Bd", sans-serif;
    padding: 0.5em;
    letter-spacing: 1.5px;

    &, &:hover, &:focus, &:visited {
      color: $color;
      text-decoration: none;
    }

    &:hover, &--active {
      background-color: rgba($color, 0.4);
    }
  }
}

@mixin mobile-layout {
  .Navigation {
    flex-direction: column-reverse;
    align-items: center;

    &--open {
      height: 100vh;
      background-color: $blue-color;

      .Navigation__items {
        display: flex;
      }

      .Navigation__logo {
        margin-top: rem(4px);
      }
    }

    &__toggle {
      display: block;
      position: absolute;
      cursor: pointer;
      top: $padding-vertical;
      left: $padding-horizontal;
    }

    &__items, &__logo {
      margin-left: 0;
      position: relative;
      right: auto;
    }

    &__items {
      display: none;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
      height: 100%;
      justify-content: space-evenly;
      max-height: 400px;
    }
  }

  .mute-videos {
    left: auto !important;
    right: 1.25rem;
  }
}

@media (max-width: 1024px) {
  @include mobile-layout;
}

.Screen--mobile {
  @include mobile-layout;
}
