.Nav {
  text-align: center;

  &__item {
    display: inline-block;
    margin: 4px 9px;
    &:hover {
      .Nav__link {
        background-color: rgba(255,255,255,.4);
      }
    }
  }

  &__link {
    display: block;
    font-size: rem(14px);
    line-height: rem(15px);
    font-family: "Din",sans-serif;
    letter-spacing: normal;
    color: $dark-blue-color;
    text-decoration: none;
    padding: 12px 6px 3px 6px;

    &:hover, &:active, &:focus {
      color: $dark-blue-color;
    }
  }

  &--active {
    background-color: rgba(255,255,255,.4);
    padding: 12px 6px 3px 6px;
  }
}
