.Paragraph {
  @include fluid-attr("max-width", 500px, 815px);
  margin-left: auto;
  margin-right: auto;
  height: auto !important;
  position: relative;

  @include mobile {
    max-width: 100%;
  }

  &__content {
    font-family: "Akkurat", sans-serif;
    font-size: rem(18px);
    line-height: rem(27px);
    font-weight: 100;
    color: $gray-300;
    @include mobile {
      letter-spacing: 0;
    }
  }

  .type-h4 {
    font-weight: 500;
  }

  &--v2 {
    letter-spacing: normal;
  }

  &--moved-to-right {
    padding-left: 160px;
    @include mobile {
      padding-left: 0;
    }
  }

  &--moved-to-left {
    padding-right: 320px;
    @include mobile {
      padding-right: 0;
    }
  }
}
