.ParallaxHeader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;

  .layer {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__layers {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
  }
}

.Screen--mobile {
  .ParallaxHeader {
    background-size: cover;
    background-position: 50%;
  }
}
