.Paragraph {
  @include fluid-attr("max-width", 500px, 815px, $responsive-min, $responsive-max);
  margin-left: auto;
  margin-right: auto;
  height: auto !important;
  @include mobile {
    max-width: 100%;
  }

  &__content {
    font-family: "DIN", sans-serif;
    font-size: rem(18px);
    line-height: rem(27px);
    letter-spacing: rem(1px);
    font-weight: 100;
    @include mobile {
      letter-spacing: 0;
    }
  }

  .type-h4 {
    font-weight: 500;
  }

  &--max-width-760 {
    max-width: 760px;
  }

  &--default-letter-spacing {
    letter-spacing: normal;
  }
}