.ParallaxHeader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $black-color;

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }

  &__layers {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 0;
    width: 1800px;
    height: 1969px;
    will-change: transform;
  }
}

.Screen--mobile {
  .ParallaxHeader {
    background-size: cover;
    background-position: 50%;
  }
}
