.PlasticSource {
  display: flex;
  margin-bottom: 120px;
  width: 100%;

  @include mobile {
    flex-direction: column;
    margin-bottom: 0;
  }

  &__video {
    width: 620px;
    max-width: 100%;
    order: 0;

  }

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__text {
    order: 1;
    align-self: center;
    font-size: rem(24px);
    line-height: rem(36px);
    font-weight: 300;
    font-family: "Aktiv GroteskEx Bd", sans-serif;
    max-width: 480px;
    padding-left: 20px;
    z-index: 10;
    @include mobile {
      font-family: "Aktiv GroteskEx Bd", sans-serif;
      font-size: rem(16px);
      line-height: rem(27px);
      padding-left: 0;
      margin: 20px 0;
    }
  }

  &__decoration-line {
    height: 4px;
    width: 80px;
    background-color: $yellow-color;
    margin-bottom: 10px;
    margin-left: -35px;
    @include mobile {
      display: none;
    }
  }

  &--decoration-line-right {
    margin-left: auto;
    float: none;
    margin-right: -45px;
  }

  &--margin-left-160 {
    margin-left: 160px;
    @include mobile {
      margin-left: 0;
    }
  }

  &--margin-right-160 {
    padding-right: 160px;
    @include mobile {
      padding-right: 0;
    }
  }

  &--margin-right-80 {
    padding-right: 80px;
    @include mobile {
      padding-right: 0;
    }
  }

  &--align-right {
    justify-content: flex-end;

    .PlasticSource__text {
      padding-left: 20px;
      padding-right: 20px;

      @include mobile {
        order: 1;
      }
    }

    .PlasticSource__video {
      @include mobile {
        order: 0;
      }
    }
  }
}
