.Screen {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .Section {
    overflow: hidden;
  }

  &--lock-sections {
    scroll-snap-type: y mandatory;

    .Section {
      scroll-snap-align: start;
    }
  }

  &--ArticleScreen {
    .Hero {
      justify-content: space-between;

      .Hero__title {
        text-align: center;

        .type-h2 {
          font-size: rem(14px);
          color: $white-color;
          letter-spacing: 1.2px;
        }
      }
    }
  }

  &--Landing {
    .ScrollDownButton {
      margin-top: auto;
    }
  }
}
