.Screen {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .Section {
    overflow: hidden;
  }

  &--lock-sections {
    scroll-snap-type: y mandatory;

    @media (max-width: $mobile-screen-width) {
      scroll-snap-type: none;
    }

    .Section {
      scroll-snap-align: start;
    }
  }
}
