.Section {
  width: 100%;
  height: 100vh;
  position: relative;

  & > div {
    width: 100%;
    height: 100%;
  }

  &--flex {
    position: relative;
    display: flex;
    @include mobile {
      display: block;
    }
  }

  &__column {
    position: relative;
    @include mobile {
      width: 100% !important;
    }

    &--desktop-50 {
      width: 50%;
    }

    &--desktop-65 {
      width: 65%;
    }

    &--desktop-35 {
      width: 35%;
    }

    &--desktop-50-custom {
      position: absolute;
      right: -100px;
      top: 0;
      width: 60%;
      @include mobile {
        width: 100%;
        position: relative;
        right: auto;
      }
    }

    &--desktop-45 {
      width: 45%;
    }

    &--desktop-55 {
      width: 55%;
      padding-left: 5%;
    }
  }

  &--width-400px {
    @include fluid-attr("width", 100%, 400px);
    max-width: 100%;
  }
  &--width-550px {
    @include fluid-attr("width", 100%, 550px);
    max-width: 100%;
  }
  &__container {
    margin-left: auto;
    margin-right: auto;
    @include fluid-attr("max-width", 100%, 1257px);
    //padding: 0 rem(15px);
    @include mobile {
      padding: 0 rem(15px);
    }
  }

  &--blue {
    border-top: 1px solid $blue-color2;
    border-bottom: 1px solid $blue-color2;
    color: $white-color;
    background-color: $blue-color2;
  }

  &--dark-blue {
    border-top: 1px solid $dark-blue-color;
    border-bottom: 1px solid $dark-blue-color;
    color: $white-color;
    background-color: $dark-blue-color;
    .type-h4 {
      font-weight: 500;
    }
  }

  &--light-blue {
    background-color: $light-blue-color;
    color: $white-color;
  }

  &--white-and-blue {
    background: repeating-linear-gradient($white-color, $white-color 50%, $blue-color2 50%, $blue-color2 100%) !important;
    color: $white-color;
    @include mobile {
      background: $blue-color2 !important;
    }
  }

  &--black-and-white {
    background: repeating-linear-gradient($black-color, $black-color 50%, $white-color 50%, $white-color 100%) !important;
    color: $black-color;
    @include mobile {
      background: $black-color !important;
      color: $white-color;
    }
  }

  &--blue-and-dark-blue {
    background: repeating-linear-gradient($blue-color, $blue-color 85%, $dark-blue-color 20%, $dark-blue-color 100%);
  }

  &--white-and-blue-and-lightseagreen {
    background: repeating-linear-gradient($white-color, $white-color 80%, $light-sea-green-color 20%, $light-sea-green-color 100%);
  }

  &--light-sea-green {
    border-top: 1px solid $light-sea-green-color;
    border-bottom: 1px solid $light-sea-green-color;
    color: $white-color;
    background-color: $light-sea-green-color;
  }

  &--auto-height {
    height: auto;
  }

  &--moved-to-left {
    margin-left: -55px;

    @include mobile {
      margin-left: 0;
    }
  }

  .type-big-title {
    font-family: "Editor", serif;
    font-weight: 500;
  }

  &__waves-blur {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url("./assets/img/article-screen-hero.svg");
    height: 196px !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    transition: filter .5s ease;
    backface-visibility: hidden;
  }

  &--background-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__background-img-flex {
    height: 100%;
    text-align: center;
    color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Editor", serif;
    font-weight: 500;
  }

  &--height-480 {
    height: 480px;
  }

  &--black {
    background-color: $black-color;
    color: $white-color;
  }
}
