.Stats {
  position: absolute;
  max-width: 366px;
  margin-left: -230px;
  font-weight: 500;

  @include mobile {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__number {
    display: inline-block;
    font-size: rem(55px);
    line-height: rem(68px);
    color: $primary;
    letter-spacing: 1.2px;
    font-family: "Aktiv GroteskEx Bd", sans-serif;
  }

  &__text {
    display: inline-block;
    color: $black-color;
    font-size: rem(24px);
    line-height: rem(36px);

  }

  &--v2 {
    position: relative;
    margin-left: initial;
    @include mobile {
      text-align: left;

      .Stats__number {
        font-size: rem(39px);
        line-height: rem(39px);
      }
    }

    .Stats--big {
      @include mobile {
        font-size: rem(61px);
        line-height: rem(73px);
      }
    }

    .Stats--small {
      @include mobile {
        text-transform: uppercase;
        font-size: rem(20px);
        line-height: rem(30px);
        display: block;
      }
    }
  }

  &--v3 {
    position: relative;
    margin-left: initial;
    max-width: 100%;
    font-weight: bold;

    @include mobile {
      text-align: left;

      .Stats__number {
        font-size: rem(39px);
        line-height: rem(39px);
      }
    }

    .Stats--big {
      @include mobile {
        font-size: rem(61px);
        line-height: rem(73px);
      }
    }

    .Stats--small {
      @include mobile {
        text-transform: uppercase;
        font-size: rem(20px);
        line-height: rem(30px);
        display: block;
      }
    }
  }

  &--big {
    font-size: rem(135px);
    line-height: rem(121px);
  }

  &--small {
    font-size: rem(43px);
    line-height: rem(50px);
  }

  &--small-type-2 {
    font-size: rem(25px);
    line-height: rem(30px);
  }

  &--sm-small-type-2 {

    @include mobile {
      font-size: rem(25px);
      line-height: rem(30px);
    }
  }

  &--hydromap {
    margin-left: 3rem;
    bottom: 5rem;
    max-width: 100%;
    text-align: left;
    opacity: 0;
    .Stats--small {
      font-size: rem(60px);
    }
    .type-h4 {
      color: $white-color;
      font-weight: 400;
    }
  }
}
