.Video {
  position: relative;

  &--no-skin {
    .video-react-big-play-button, .video-react-control-bar {
      display: none;
    }
  }

  .video-react-big-play-button {
    $size: 148px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: none;
    border-radius: 0;
    background-image: url("./assets/img/play-button.svg");
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-position: 50%;
    width: $size;
    height: $size;

    &:before {
      display: none;

      .video-react-control-text {
        display: none;
      }
    }
  }

  &--cursor-pointer {
    cursor: pointer;
  }

  video {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &--max-width-1257 {
    max-width: 1257px;
    margin-left: auto;
    margin-right: auto;
  }

  &--max-width-942 {
    max-width: 942px;
    margin-left: auto;
    margin-right: auto;
  }
}
