.Video {
  position: relative;

  &__play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include mobile {
      transform: translate(-50%, -50%) scale(0.6);
    }
  }

  &--cursor-pointer {
    cursor: pointer;
  }

  video {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &--max-width-1257 {
    max-width: 1257px;
    margin-left: auto;
    margin-right: auto;
  }

  &--max-width-942 {
    max-width: 942px;
    margin-left: auto;
    margin-right: auto;
  }
}
