@font-face {
  font-family: "Akkurat";
  src: url("./assets/fonts/lineto-akkurat-regular.eot");
  src: url("./assets/fonts/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/lineto-akkurat-regular.woff2") format("woff2"),
  url("./assets/fonts/lineto-akkurat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("./assets/fonts/lineto-akkurat-bold.eot");
  src: url("./assets/fonts/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/lineto-akkurat-bold.woff2") format("woff2"),
  url("./assets/fonts/lineto-akkurat-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv GroteskEx Bd";
  src: url("./assets/fonts/AktivGroteskEx_W_Bd.eot");
  src: url("./assets/fonts/AktivGroteskEx_W_Bd.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/AktivGroteskEx_W_Bd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
