@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-BlackAlternate.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-RegularAlternate.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial XBold";
  src: url("./assets/fonts/AktivGroteskExTrial-XBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial Hair";
  src: url("./assets/fonts/AktivGroteskExTrial-HairItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial Hair";
  src: url("./assets/fonts/AktivGroteskExTrial-Hair.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial";
  src: url("./assets/fonts/AktivGroteskExTrial-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aktiv Grotesk Ex Trial XBold";
  src: url("./assets/fonts/AktivGroteskExTrial-XBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Light-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-ExtraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Editor";
  src: url("./assets/fonts/Editor-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tungsten";
  src: url("./assets/fonts/Tungsten-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lucida Grande";
  src: url("./assets/fonts/LucidaGrande.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url("./assets/fonts/Akkurat-Bold.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Akkurat";
  src: url("./assets/fonts/Akkurat.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
