@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-BlackAlternate.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-RegularAlternate.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("./assets/fonts/DIN-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
