.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.dark-blue {
  color: $dark-blue-color !important;
}

.black {
  color: $black-color;
}

.red {
  color: $red-color !important;
}

.gray {
  color: $gray-300 !important;
}

.white {
  color: $white-color !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.letter-spacing-1_2 {
  letter-spacing: 1.2px;
}

.letter-spacing-normal {
  letter-spacing: normal !important;
}

.font-grotesk {
  font-family: "Aktiv Grotesk Ex Trial", Arial, sans-serif;
}

.quote-open {
  display: block;
  margin-bottom: -40px;
  font-size: rem(135);
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;
  letter-spacing: 1.2px;
  line-height: rem(121px);
  color: $dark-blue-color;
}

.quote-open-type-2 {
  display: block;
  margin-bottom: -20px;
  font-size: rem(57px);
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;
  letter-spacing: 1.2px;
  line-height: rem(68px);
  font-weight: 500;
}

.quote-author {
  font-size: rem(24px);
  line-height: rem(29px);
  letter-spacing: rem(2px);
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;

  &--type-2 {
    text-transform: none;
  }
}

.quote-author-position {
  font-size: rem(14px);
  line-height: rem(15px);
  letter-spacing: initial;
  font-family: "Din", sans-serif;
}

.custom-text-styles {
  font-size: rem(18px);
  line-height: rem(27px);
  letter-spacing: initial;
  font-weight: 100;
}

.br-desktop {
  @include mobile {
    display: none;
  }
}

.d-mobile-block {
  @include mobile {
    display: block !important;
  }
}

.d-mobile-none {
  @include mobile {
    display: none !important;
  }
}

.d-desktop-block {
  @include mobile {
    display: none !important;
  }
}

.d-none {
  display: none;
}

.small-title {
  font-size: rem(14px);
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Helvetica", sans-serif;
  color: #031C26;
  text-align: center;
  line-height: rem(15px);
}

.small-title-type2 {
  letter-spacing: rem(3px);
  font-size: rem(14px);
  text-transform: uppercase;
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;
}

.big-title {
  text-transform: uppercase;
  font-family: "Lucida Grande", sans-serif;
  letter-spacing: rem(2px);
  line-height: rem(57px);
}

.big-title-type-2 {
  text-transform: uppercase;
  letter-spacing: rem(2px);
  line-height: rem(68px);
  font-family: "Tungsten", sans-serif;
  font-size: rem(57px);
  font-weight: 600;
}

.mw-100 {
  max-width: 100% !important;
}
