.mb-0 {
  margin-bottom: 0 !important;
}

.mt-10px {
  @include fluid-attr("margin-top", 5px, 10px, $responsive-min, $responsive-max);
}

.mt-30px {
  @include fluid-attr("margin-top", 25px, 30px, $responsive-min, $responsive-max);
}

.mt-50px {
  @include fluid-attr("margin-top", 25px, 50px, $responsive-min, $responsive-max);
}

.mt-65px {
  @include fluid-attr("margin-top", 30px, 65px, $responsive-min, $responsive-max);
}

.mt-80px {
  @include fluid-attr("margin-top", 45px, 80px, $responsive-min, $responsive-max);
}

.mt-110px {
  @include fluid-attr("margin-top", 45px, 110px, $responsive-min, $responsive-max);
}

.mt-185px {
  @include fluid-attr("margin-top", 45px, 185px, $responsive-min, $responsive-max);
}

.mb-30px {
  @include fluid-attr("margin-bottom", 25px, 30px, $responsive-min, $responsive-max);
}

.mb-40px {
  @include fluid-attr("margin-bottom", 40px, 40px, $responsive-min, $responsive-max);
}

.mb-50px {
  @include fluid-attr("margin-bottom", 25px, 50px, $responsive-min, $responsive-max);
}

.mb-75px {
  @include fluid-attr("margin-bottom", 45px, 75px, $responsive-min, $responsive-max);
}

.mb-80px {
  @include fluid-attr("margin-bottom", 45px, 80px, $responsive-min, $responsive-max);
}

.mt-11px {
  margin-top: 11px;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.dark-blue {
  color: $dark-blue-color;
}

.red {
  color: $red-color;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.max-width-760 {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-960 {
  max-width: 960px !important;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1257 {
  max-width: 1257px;
  margin-left: auto;
  margin-right: auto;
}

.letter-spacing-1_2 {
  letter-spacing: 1.2px;
}

.letter-spacing-normal {
  letter-spacing: normal !important;
}

.font-grotesk {
  font-family: "Aktiv Grotesk Ex Trial", Arial, sans-serif;
}

.pr-15 {
  padding-right: 15px;
  @include mobile {
    padding-right: 0;
  }
}

.quote-open {
  display: block;
  margin-bottom: -40px;
  font-size: rem(135);
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;
  letter-spacing: 1.2px;
  line-height: rem(121px);
  color: red;
}

.quote-open-type-2 {
  display: block;
  margin-bottom: -20px;
  font-size: rem(57px);
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;
  letter-spacing: 1.2px;
  line-height: rem(68px);
  color: red;
  font-weight: 500;
}

.quote-author {
  font-size: rem(24px);
  line-height: rem(29px);
  letter-spacing: rem(2px);
  font-weight: 500;
  color: $red-color;
  text-transform: uppercase;
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;

  &-type-2 {
    text-transform: none;
  }
}

.quote-author-position {
  font-size: rem(14px);
  line-height: rem(15px);
  letter-spacing: initial;
  font-family: "Din", sans-serif;

  &-type-2 {
    color: $dark-blue-color;
  }
}

.custom-text-styles {
  font-size: rem(18px);
  line-height: rem(27px);
  letter-spacing: initial;
  font-weight: 100;
}

.ml-desktop-20px {
  margin-left: 20px;
  @include mobile {
    margin-left: initial;
  }
}

.br-desktop {
  @include mobile {
    display: none;
  }
}

.d-mobile-block {
  @include mobile {
    display: block !important;
  }
}

.d-mobile-none {
  @include mobile {
    display: none !important;
  }
}

.d-desktop-block {
  @include mobile {
    display: none !important;
  }
}

.d-none {
  display: none;
}
