.mb-0 {
  margin-bottom: 0 !important;
}

.mt-10px {
  @include fluid-attr("margin-top", 5px, 10px);
}

.mt-20px {
  @include fluid-attr("margin-top", 10px, 20px);
}

.mt-30px {
  @include fluid-attr("margin-top", 25px, 30px);
}

.mt-50px {
  @include fluid-attr("margin-top", 25px, 50px);
}

.mt-65px {
  @include fluid-attr("margin-top", 30px, 65px);
}

.mt-80px {
  @include fluid-attr("margin-top", 35px, 80px);
}

.mt-110px {
  @include fluid-attr("margin-top", 45px, 110px);
}

.mt-185px {
  @include fluid-attr("margin-top", 45px, 185px);
}

.mb-30px {
  @include fluid-attr("margin-bottom", 5px, 30px);
}

.mb-40px {
  @include fluid-attr("margin-bottom", 40px, 40px);
}

.mb-50px {
  @include fluid-attr("margin-bottom", 25px, 50px);
}

.mb-75px {
  @include fluid-attr("margin-bottom", 45px, 75px);
}

.mb-80px {
  @include fluid-attr("margin-bottom", 45px, 80px);
}

.pb-160px {
  @include fluid-attr("padding-bottom", 45px, 160px);
}

.pb-110px {
  @include fluid-attr("padding-bottom", 45px, 110px);
}

.pb-40px {
  @include fluid-attr("padding-bottom", 45px, 40px);
}

.pt-40px {
  @include fluid-attr("padding-top", 45px, 40px);
}

.pt-lg-50px {
  padding-top: 50px;
  @include mobile {
    padding-top: 0;
  }
}

.pb-80px {
  @include fluid-attr("padding-bottom", 45px, 80px);
}

.pt-80px {
  @include fluid-attr("padding-top", 45px, 80px);
}

.pt-40px {
  @include fluid-attr("padding-top", 45px, 40px);
}

.mt-11px {
  margin-top: 11px;
}

.px-50-px {
  padding-left: 50px;
  padding-right: 50px;
}

.px-mobile-0 {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.pr-15px {
  padding-right: 15px;
  @include mobile {
    padding-right: 0;
  }
}

.ml-desktop-20px {
  margin-left: 20px;
  @include mobile {
    margin-left: initial;
  }
}

.ml-20px {
  margin-left: 20px;
  @include mobile {
    margin-left: 0;
  }
}

.max-width-760 {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1100 {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-944 {
  max-width: 944px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-960 {
  max-width: 960px !important;
  margin-left: auto;
  margin-right: auto;
}

.max-width-970 {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1257 {
  max-width: 1257px;
  margin-left: auto;
  margin-right: auto;
}

.mw-sm-100 {
  @include mobile {
    max-width: 100%;
  }
}

.mw-300 {
  max-width: 300px;
}

.mw-md-300 {
  max-width: 300px;
  @include mobile {
    max-width: 100%;
  }
}
