.type {
  &-hero {
    @include fluid-attr("font-size", 50px, 135px);
  }

  &-h1 {
    @include fluid-attr("font-size", 25px, 57px);
  }

  &-h2 {
    @include fluid-attr("font-size", 20px, 43px);
  }

  &-h3 {
    @include fluid-attr("font-size", 25px, 32px);
  }

  &-h4 {
    @include fluid-attr("font-size", 20px, 24px);
  }

  &-p {
    @include fluid-attr("font-size", 14px, 16px);
  }

  &-tag {
    font-size: 14px;
  }

  &-quote {
    font-family: "Aktiv Grotesk Ex Trial", sans-serif;
    font-weight: bold;
    color: $dark-blue-color;
    letter-spacing: 1.2px;
    @include fluid-attr("letter-spacing", rem(0), rem(1.2px));
    @include fluid-attr("line-height", rem(37px), rem(50px));
    @include fluid-attr("font-size", 31px, 43px);
  }

  &-weight-500 {
    font-weight: 500;
  }
}
