.type {
  &-hero {
    @include fluid-type(35px, 135px, $responsive-min, $responsive-max);
  }

  &-h1 {
    @include fluid-type(20px, 57px, $responsive-min, $responsive-max);
  }

  &-h2 {
    @include fluid-type(16px, 43px, $responsive-min, $responsive-max);
  }

  &-h3 {
    @include fluid-type(25px, 32px, $responsive-min, $responsive-max);
  }

  &-h4 {
    @include fluid-type(20px, 24px, $responsive-min, $responsive-max);
  }

  &-tag {
    @include fluid-type(10px, 14px, $responsive-min, $responsive-max);
  }

  &-alert {
    font-family: "Aktiv Grotesk Ex Trial", sans-serif;
    font-weight: bold;
    color: $redColor;
    letter-spacing: 1.2px;
    //line-height: rem(50px);
    @include fluid-attr("letter-spacing", rem(0), rem(1.2px), $responsive-min, $responsive-max);
    @include fluid-attr("line-height", rem(37px), rem(50px), $responsive-min, $responsive-max);

    @include fluid-type(31px, 43px, $responsive-min, $responsive-max);
  }
}
