.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.align {
  &-center {
    align-items: center;
  }
}

.justify {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

.first-letter-big {
  &:first-letter {
    font-family: "Editor", serif;
    float: left;
    font-weight: bold;
    color: $dark-blue-color;
    font-size: rem(135px);
    line-height: rem(106px);
    margin: 0;
  }
}
