.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.align {
  &-center {
    align-items: center;
  }
}

.justify {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

.first-letter-big {
  &:first-letter {
    font-family: "Aktiv Grotesk Ex Trial", serif;
    float: left;
    font-weight: bold;
    color: $primary;
    font-size: rem(135px);
    line-height: rem(106px);
    margin-top: -7px;
    margin-right: 10px;
    @include mobile {
      font-size: rem(61px);
      line-height: rem(73px);
      margin-top: -14px;
    }
  }
}
.primary {
  color: $primary;
}
