$root-size: 16px;
$responsive-min: 420px;
$responsive-max: 1200px;
$primary: #EC8484;
$secondary: #1C1264;
$gray-300: #3B3B3B;
$mobile-screen-width: 600px;
$blue-color: #00ACBF;
$blue-color-100: #13B9C5;
$light-sea-green-color: #076A73;
$light-blue-color: #2A8FD3;
$dark-blue-color: #1C1264;
$red-color: #EB4535;
$white-color: #FFF;
$yellow-color: #F0CD57;
$black-color: #031C26;
$z-index-navigation: 11;

:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-yellow: #{$yellow-color};
  --color-blue-100: #{$blue-color-100};
}
