$root-size: 16px;
$responsive-min: 420px;
$responsive-max: 1200px;
$primary: #EC8484;
$secondary: #1C1264;
$gray-300: #3B3B3B;
$mobile-screen-width: 600px;
$blue-color: #00ACBF;
$light-sea-green-color: #076A73;
$light-blue-color: #2A8FD3;
$dark-blue-color: #1C1264;
$red-color: #EB4535;
$white-color: #FFF;
$yellow-color: #F0CD57;
