$root-size: 16px;
$responsive-min: 420px;
$responsive-max: 1200px;
$primary: #EB4535;
$secondary: #1C1264;
$mobile-screen-width: 600px;

$blueColor: #00ACBF;
$darkBlueColor: #1C1264;
$whiteColor: #FFF;